.heading {
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
}


.create {
    float: right;
    font-size: 15px;
    padding-bottom: 20px;
    padding-right: 105px;
}

.backgroundColor {
    background-color: #9599E2;
    background-image: linear-gradient(0deg, #9599E2 0%, #8BC6EC 27%, #ffffff 100%);
    height: 100%;
    background-attachment: fixed;
  }

  .textBox {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-top: 10px;
      box-sizing: border-box;
      color: #2c3e50;
      font-size: 13px;    
      width: 200px;
  }

  .submit{
	width: 100px;
	background: #5399d3;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px;
}
.submit:hover, .submit:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #06053a;
}

  .formBackground {
      width: 400px;
	margin: 10px;
    padding-top: 10px;
	text-align: center;
	position: relative;
  }

  .inputField {
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	// padding:;
	box-sizing: border-box;
	width: 20%;
	margin: 0 10%;
	position: relative;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
  }

  .container {
    justify-content: center;
    align-items: center;
    display: flex;
    // margin-left: 115px;
    // margin-top: 10px;
  }

  .centerAlign {
    justify-content: center ;
    display: flex ;
    align-items: center;
}

.inputContainer {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    // padding: 77px 55px 33px 55px;
    width: 390px;
}

.cardSize {
height: 100;
width: 35%;
margin: 0 auto;

}

.heading {
  display: flex;
  padding: 20px 78px;
}