.RegistrationpaperStyle  {
    padding: 20px;
    height: 70vh ;
    width: 330px;
  };
 .RegistrationavatarStyle 
  { background-color: #1bbd7e !important; };

 .RegistrationspacingStyle 
  { margin: 4px 0  !important; };
 .RegistrationnewaccountStyle 
 { margin: 10px 0 !important;
text-align: center;};

.alertTitleColor{
  color: red;
  }