.footerLink {
    list-style: none;
}

.footerLink li {
    list-style: none;
    text-decoration: none;
}

.fontStyle {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.justifyText {
    text-align: justify;
    text-justify: inter-word;
    
}