.LoginpaperStyle {
    padding: 20px;
    height: 70vh;
    width: 330px ;
  };

 .LoginavatarStyle {
      background-color: #1bbd7e !important; 
    }

.LoginspacingStyle
        {
           margin: 15px 0 !important;
          margin-left: 50px; };

           .GLoginspacingStyle
        {
         
          margin-left:20px !important;  };

.newaccountStyle{ margin: 8px 0  !important;
margin-left: 20px;
text-align: center;
};

.alertTitleColor{
color: red;
}

    